@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap');

:root {
    --boxshadow-color: 0 0 20px rgba(0, 0, 0, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(196,195,208, 0.5);
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 20px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
    text-transform: capitalize;
    -webkit-text-stroke: 0.015rem #afeeee;
}

.gallery_container {
    width: 350px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius:15px;
    border: 2px solid #36454f;
    box-shadow: var(--boxshadow-color);
}

.gallery_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.slider__nav-button {
    display: none;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #333;
    opacity: 0.3;
    cursor: pointer;
}

#nav-button--prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#nav-button--next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 25%;
    height: 25%;
}

#nav-button--next::after {
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}

.count_container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.65rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,255,255, 0.9);
}

.descripton_container {
    position: absolute;
    padding: 0.15rem 0.5rem;
    width: max-content;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    bottom: 0.5rem;
    background-color: rgba(65,74,76, 0.5);
    border-radius: 0.35rem;
    opacity: 85%;
}

.desc_img {
    color: aliceblue;
    font-size: 0.435rem;
    font-family: 'Proza Libre', sans-serif;
    text-shadow: 0px 0px 3px rgba(0,255,255, 0.9);
}

.controls {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Mono Space', sans-serif;
    width: 120px;
    height: 1.8em;
    border-radius: 0.4rem;
    outline: 1px outset black;
    margin-top:2rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(96,47,107, 0.85);;
}

.move {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: none;
    border-radius: 0.4rem; 
    background-color: rgba(0,255,127, 0.4);
}

.move:hover {
    background-color: rgba(57,255,20, 0.9);
    box-shadow: var(--boxshadow-color);
}

.stop {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    background-color: rgba(255,53,94, 0.4);
    /* position: absolute; */
}

.stop:hover {
    background-color: rgba(255,64,64, 0.9);
    box-shadow: var(--boxshadow-color);
}

/* Changeing atributes with JS */

.disabled {
    background-color: #00ffff;
} 

.show-arrows {
    display: block;
    transition: 0.5s;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 30px;
    }
    .gallery_container {
        width: 740px;
        height: 460px;
    }
    .count_container {
        font-size: 0.9rem;
    }
    .desc_img {
        font-size: 1rem;
    }
    .slider__nav-button {
        height: 40px;
        width: 40px;
    }
    #nav-button--prev::after,
    #nav-button--next::after {
        width: 40%;
        height: 40%;
    }
    .controls {
        font-size: 14px;
        height: 2.5em;
        width: 150px;
        outline: 2px outset #708090;
    }
}